<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a ng-click="navHome()" class="navbar-brand">My blog</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a ng-click="navNewPost()">New Post</a></li>
  </ul>
</nav>

<div class="container" style="margin-top: 40px">
  <h1 class="text-center">{{ data.currentPost.title }}</h1>
  <div class="row">
    <p>{{ data.currentPost.contents }}</p>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="editPost()">Edit</button>
    <div class="pull-right">
      <button class="btn btn-danger" ng-click="deletePost()">Delete</button>
    </div>
  </div>
</div>
